## SQL lite : Employee Data Collection

### 1. Importing Libraries

In [1]:
import sqlite3
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### 2. Creating or Connecting Database

In [2]:
#creating file if do not exist, connect if do not exist
conn = sqlite3.connect('employee.db')

In [3]:
#cursor
c = conn.cursor()

### 3. Creating Table

In [4]:
#query in doc string, creating table for first name, last name and pay
c.execute("""CREATE TABLE employee (
            first_name text,
            last_name text,
            pay integer)
         """)

In [5]:
#commit transaction
conn.commit()

### 3. Inserting Employees Details

In [6]:
#add employee data to database
c.execute("INSERT INTO employee VALUES ('John', 'McDonald', 50000 )")
#add employee data to database
c.execute("INSERT INTO employee VALUES ('Kristy', 'McDonald', 50000 )")

In [7]:
#add employee data to database
c.execute("INSERT INTO employee VALUES ('Lewis', 'Style', 60000 )")

### 4. Selecting Query

In [8]:
#selecting last name macdonald
c.execute("SELECT * FROM employee WHERE last_name='McDonald'")
#return rows
print(c.fetchone())

('John', 'McDonald', 50000)

In [9]:
#selecting last name macdonald
c.execute("SELECT * FROM employee WHERE last_name='McDonald'")
#return rows for person with last name mcdonald
print(c.fetchmany(2))

[('John', 'McDonald', 50000), ('Kristy', 'McDonald', 50000)]

In [10]:
#find employee details
c.execute("SELECT * FROM employee")
#return all list of employee
c.fetchall()

[('John', 'McDonald', 50000),
 ('Kristy', 'McDonald', 50000),
 ('Lewis', 'Style', 60000)]

In [11]:
def show_table():
    #data structure for (first_name, last_name, pay)
    c.execute("SELECT * FROM employee")
    
    #using loop to iterate through first_name, last_name and salary
    for i in c.fetchall():
        first_name, last_name, salary = i
        print(f'Name: {first_name} {last_name}, Salary: {salary}')

In [12]:
show_table()

Name: John McDonald, Salary: 50000
Name: Kristy McDonald, Salary: 50000
Name: Lewis Style, Salary: 60000

### 5. Editing Query

In [13]:
#update the last name to 'McCarthy' for all rows where the first name is 'John'
c.execute("UPDATE employee SET last_name='McCarthy' WHERE first_name='John'")

In [14]:
#commit the changes to the database
conn.commit()

In [15]:
#find employee details
c.execute("SELECT * FROM employee")
#return all list of employee
c.fetchall()

[('John', 'McCarthy', 50000),
 ('Kristy', 'McDonald', 50000),
 ('Lewis', 'Style', 60000)]

### 6. Delete Query

In [16]:
#delete rows where the first name and last name
c.execute("DELETE FROM employee WHERE first_name='Lewis' AND last_name='Style'")

#commit the changes to the database
conn.commit()

In [17]:
show_table()

Name: John McCarthy, Salary: 50000
Name: Kristy McDonald, Salary: 50000

### 7. Employee Class

In [18]:
class Employee:
    def __init__(self, first_name, last_name, pay):
        self.first_name = first_name
        self.last_name = last_name
        self.pay = pay

    @property
    def email(self):
        return f'{self.first_name.lower()}.{self.last_name.lower()}@analyst.com'

    @property
    def fullname(self):
        return f'{self.first_name} {self.last_name}'

    def __repr__(self):
        return f'Employee({self.first_name}, {self.last_name}, {self.pay})'

In [19]:
def employee_register():
    first_name = input("Enter First Name: ")
    last_name = input("Enter Last Name: ")
    pay = int(input("Enter Pay: "))
    return first_name, last_name, pay

In [20]:
employee_data = employee_register()
c.execute("INSERT INTO employee (first_name, last_name, pay) VALUES (?, ?, ?)",
          employee_data)
#commit the changes to the database
conn.commit()

Enter First Name:  Rahul
Enter Last Name:  singh
Enter Pay:  40000

In [21]:
#fetch all employees from the 'employee' table
c.execute("SELECT * FROM employee")
employees = c.fetchall()

In [22]:
for employee in employees:
    print(Employee(*employee))
conn.close()

Employee(John, McCarthy, 50000)
Employee(Kristy, McDonald, 50000)
Employee(Rahul, singh, 40000)